{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
About Us
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <center>
        <h1>About Us</h1>
        <br>


        <p>
    Web creada por Nahuel Olea y Gabriel Guette. Somos dos geeks que nos conocimos en una comunidad gamer administrando servidores de CS:GO,</p> 
    <p>y queremos compartir el amor por los videojuegos retro, mientras aprendemos un poco de Python y Django.</p>

<p>Gracias por la visita!!!</p>
<p>Vuelva prontos</p>
<p><img src="https://memegenerator.net/img/instances/85503550/gracias-vuelva-prontos.jpg" alt="Imagen">


</center>
</p>




{% endblock %}