<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
GameBoy - App Coder
{% endblock %}

{% block contenidoPagina %}
    <title>Lista de Juegos de GameBoy</title>
</head>
<body>
    <h2>Lista de Juegos:</h2>
    <ul>
        {% for GameBoy in object_list %}
            <li>
                Juego: {{GameBoy.nombre}} {{GameBoy.Genero}} | 
                <a href="{% url 'GameBoy_detail' GameBoy.id %}">Ver</a>
                <a href="{% url 'GameBoy_update' GameBoy.id %}">Editar</a>
                <a href="{% url 'GameBoy_delete' GameBoy.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'GameBoy_create' %}">Cargar Juego GameBoy</a>
    {% endblock %}    
</body>
</html>