{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Editar Juego  - App Final
{% endblock %}

    {% block contenidoPagina %}
    <body>
        <p><center><img src="https://as2.ftcdn.net/v2/jpg/03/43/73/31/1000_F_343733140_al4QQWeOH16Ci1h2WNqbecl2Srh9b1e2.jpg" alt="Imagen" width="500" height="500"></p>
            <p>
           
            
            </center>
            </p>
        <h2>Detalle {{Sega.nombre}}</h2>
        <p>Nombre: {{Sega.nombre}}</p>
        <p>Genero: {{Sega.genero}}</p>
        <p>Año: {{Sega.anio}}</p>
        <p>Descripción: {{Segas.descripcion}}</p>
        <a href="{% url 'Sega' %}">Regresar a lista de Juegos Sega</a>
        {% endblock %}
    </body>
    </html>