<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Juegos Sega</title>
</head>
<body>
    <h2>Detalle del Juego:</h2>
    <p>Nombre: {{Sega.nombre}}</p>
    <p>Genero: {{Sega.genero}}</p>
    <p>Año: {{Sega.anio}}</p>
    <p>Descripción: {{Sega.descripcion}}</p>
    <a href="{% url 'Sega_list' %}">Regresar a lista de Juegos Sega</a>
</body>
</html>