{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Editar Juego  - App Final
{% endblock %}

    {% block contenidoPagina %}
    <body>
        <p><center><img src="https://as2.ftcdn.net/v2/jpg/03/43/73/31/1000_F_343733140_al4QQWeOH16Ci1h2WNqbecl2Srh9b1e2.jpg" alt="Imagen" width="500" height="500"></p>
            <p>
                
                <h1>{{ Sega.nombre }}</h1>
                <p>{{ Sega.anio|linebreaks }}</p>
                <hr>
                <h2 id="comments">Comentarios</h2>
                {% for comment in post.comment_set.all %}
                <b>{{ comment.name }}</b> dijo <b>{{ comment.created_on|timesince }} ago</b>
                <p>{{ comment.comment }}</p>
                {% empty %}
                <p>Queremos escucharte!</p>
                {% endfor %}
                <hr>
                <h3>Añadir comentario</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>
                {% endblock %}
    </body>
    </html>