{% extends 'ProyectoFinalApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Sega - App Final
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Juegos Sega</h1>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
                <form class="d-flex my-2 my-lg-0" action="" method="post">
                    {% csrf_token %}
                    <input class="flex-grow-0 form-control mr-sm-2" type="search" name="search" placeholder="Buscar por nombre/genero" aria-label="Search">
                    <button class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                     
                    <a class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" href="{% url 'cargar_Sega' %}"> <i class="bi bi-plus-lg"></i> Cargar Juego</a>
                    {% comment %}
                        {% url 'crear_Sega' %}
                    {% endcomment %}
                </form>
            </div>
        </div>
        <br>
      
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 table-responsive">
                <table class="table table-theme">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Genero</th>
                         
                            <th scope="col">Año</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for juego in Segas %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td><a href="{% url 'Sega_detail' juego.id %}" class="text-primary badge badge-primary text-decoration-none">  {{juego.nombre}}</a></td>
                                <td>{{juego.genero}}</td>
                                <td>{{juego.año}}</td>
                                <td>{% if user.is_authenticated %}
                                    <a href="{% url 'Sega_update' juego.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                                    <a href="{% url 'Sega_delete' juego.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                                    {% endif %} 
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}